<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=SmartLibraryManagement"/>
        <listEntry value="artifactId=SmartLibraryManagement"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.SmartLibraryManagement"/>
        <listEntry value="outputDirectory=/Users/surajdeosarkar/Desktop/resolute-shock-3974"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/56/8d406dtj09jcjzvt6pk1m8xc0000gn/T/m2e-archetypeGenerator9464363659643125988"/>
</launchConfiguration>
